   altair==4
   altair_saver
   cmocean
   geopandas
   matplotlib
   netCDF4
   numpy
   pandas
   pandas-profiling
   requests
   scikit-image
   scikit-learn
   scipy
   seaborn
   seawater
   statsmodels
   vega_datasets
   xarray